* {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
  color: #fff; }

html, body {
  font-size: 17px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  height: 100%; }

body {
  width: 100%;
  margin: 0 auto; }

img {
  display: block; }

@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_1471327294_904261.eot");
  /* IE9*/
  src: url("//at.alicdn.com/t/font_1471327294_904261.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_1471327294_904261.woff") format("woff"), url("//at.alicdn.com/t/font_1471327294_904261.ttf") format("truetype"), url("//at.alicdn.com/t/font_1471327294_904261.svg#iconfont") format("svg");
  /* iOS 4.1- */ }
.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

.agent_blur {
  height: 100%;
  background: url("../images/agent_bg.jpg") no-repeat top;
  -webkit-background-size: 100%;
  background-size: 100%;
  -webkit-filter: blur(25px);
  /* Chrome, Opera */
  -moz-filter: blur(25px);
  -ms-filter: blur(25px);
  filter: blur(25px); }

.agent_wrap {
  position: absolute;
  top: 0;
  width: 93%;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 23%;
  border-radius: 5px;
  max-width: 640px; }
  .agent_wrap .agent_content {
    padding: 8px; }
    .agent_wrap .agent_content .agent_header {
      position: relative; }
    .agent_wrap .agent_content .agent_logo {
      position: absolute;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      overflow: hidden;
      margin: 0 auto;
      left: 0;
      right: 0;
      top: -100%;
      background-color: #fb8b06;
      padding: 2px; }
      .agent_wrap .agent_content .agent_logo img {
        border-radius: 50%;
        width: 100%; }
    .agent_wrap .agent_content .agent_title {
      padding-top: 40px;
      border-bottom: 1px solid #fff;
      font-size: 17px;
      font-weight: bold; }
    .agent_wrap .agent_content .agent_input_item {
      position: relative; }
      .agent_wrap .agent_content .agent_input_item input {
        border: none;
        width: 100%;
        height: 35px;
        margin: 13px 0 0 0;
        border-radius: 3px;
        font-size: 16px;
        text-indent: 26px;
        color: #000;
        position: relative; }
    .agent_wrap .agent_content .agent_username:after, .agent_wrap .agent_content .agent_password:after {
      content: "\e6ca";
      position: absolute;
      left: 0;
      top: 19px;
      color: #fb8b06;
      font-size: 22px; }
    .agent_wrap .agent_content .agent_username:after {
      content: "\e6ca"; }
    .agent_wrap .agent_content .agent_password:after {
      content: "\e618"; }
    .agent_wrap .agent_content .agent_checkbox_item {
      margin-top: 10px; }
    .agent_wrap .agent_content .agent_submit_item .form-submit {
      border: none;
      background-color: #fb8b06;
      width: 100%;
      height: 37px;
      margin: 10px 0 10px 0;
      font-size: 19px;
      border-radius: 4px; }

.dis_head {
  padding: 0.5rem 0;
  position: relative; }
  .dis_head img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    position: absolute;
    z-index: 1; }
  .dis_head p {
    text-align: center;
    font-size: 1.2rem;
    color: #fff;
    line-height: 2rem; }

.all_records_stype {
  font-size: 16px;
  border-bottom: 1px solid #ccc;
  text-indent: 5px; }

/*# sourceMappingURL=agent.css.map */
